<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımda</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f4f4f4;
        }

        header {
            background-color: #4682B4; /* SteelBlue */
            color: white;
            text-align: center;
            padding: 1rem 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        main {
            margin: 2rem auto;
            max-width: 800px;
            background: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }

        h2 {
            font-size: 1.75rem;
            margin-bottom: 1rem;
            color: #2F4F4F; /* DarkSlateGray */
        }

        p {
            line-height: 1.8;
            font-size: 1rem;
            color: #555;
        }

        .about-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }

            .about-section p {
                max-width: 700px;
            }

        .img {
            object-fit: cover;
        }

        .divider {
            width: 50px;
            height: 4px;
            background-color: #4682B4; /* SteelBlue */
            margin: 1rem 0;
            border-radius: 2px;
        }
    </style>
</head>
<body>
    <main>

        <section class="about-section">

            <h2>Hakkımda</h2>
            <div class="divider"></div>
            <p>
                Bilgisayar ile tanıştığımdan beri her zaman yeni teknolojileri ve işin arka planını merak etmişimdir. Bu yüzden de ortaokuldan ilerlemek
                istediğim alan belli olmuştu. Üniversiteye kadar sürekli kendi başıma faydalı olabilecek otomasyon projeleri geliştirmeye başladım ve algoritma ööğrenmemde
                bu çok faydalı oldu. Üniversitemin 3. sınıf yazında NETAŞ'ta 2 ay boyunca staj yaptım. Burada yaptığım işler langChain ve Streamlit frameworkü ile yapay zeka destekli
                projeler oldu. 2024'ün ocak ayında ise Akbank'a girdim. Buradaki görevim ise backend developer olarak Spring (Java) ve Flask (Python) frameworkleri ile RESTful servisler 
                yazıp halihazırda yazılan projelerin SonarQube üzerinden bugfixlerini yapmak. 
            </p>
        </section>
    </main>
</body>
</html>
